{{define "title"}}Duplicati Aggregate Reports{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Web Application to aggregate n+1 Duplicati backup client into a single databse.</p>
		<p> Duplicati --send-http-url parameter http://this server's ip/clientstatus/?clientaddress=<IP address of Duplicati Machine></p>
		<p>Example: http://10.10.10.10/clientstatus/?clientaddress=10.10.10.100</p>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}