<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<!--[if lt IE 7]>      <html lang="en" data-ng-app="darApp" class="no-js lt-ie9 lt-ie8 lt-ie7"/> <![endif]-->
<!--[if IE 7]>         <html lang="en" data-ng-app="darApp" class="no-js lt-ie9 lt-ie8"/> <![endif]-->
<!--[if IE 8]>         <html lang="en" data-ng-app="darApp" class="no-js lt-ie9"/> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" data-ng-app="darApp" class="no-js"/> <!--<![endif]-->
<!--[if lt IE 7]>

</head>
<body>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <!-- AngularJS Material CSS now available via Google CDN; version 1.1.4 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js"></script>

    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.js"></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

    <title>{{template "title" .}}</title>
	{{template "favicon.tmpl"}}

	{{CSS "static/css/bootstrap.min.css" "all"}}
	{{/* Optional Bootstrap Theme: {{CSS "static/css/bootstrap-theme.min.css" "all"}} */}}
	{{CSS "//fonts.googleapis.com/css?family=Open+Sans:300,400,bold,italic" "all"}}
	{{CSS "static/css/all.min.css" "all"}}

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	{{template "head" .}}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{.BaseURI}}">Blueprint</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		  {{template "menu.tmpl" .}}
        </div>
      </div>
    </nav>

	<input id="BaseURI" type="hidden" value="{{.BaseURI}}">
	<div id="flash-container">
	{{range $fm := .flashes}}
		<div id="flash-message" class="alert alert-box-fixed0 alert-box-fixed alert-dismissible {{.Class}}" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{.Message}}
		</div>
	{{end}}
	</div>

	<div class="container">
		{{template "content" .}}
	</div>
	
	{{JS "static/js/jquery.min.js"}}
	{{JS "static/js/underscore-min.js"}}
	{{JS "static/js/bootstrap.min.js"}}
	{{JS "static/js/all.min.js"}}
	
	{{template "foot" .}}
  </body>
</html>
